body {
    background-color: #f8f9fa; /* Light background */
  }
  
  header {
    background-color: #6c4f3d; /* Dark brown */
  }
  
  footer {
    background-color: #6c4f3d; /* Dark brown */
    color: white;
  }
  